.footer {
    background-color: var(--header-background);
}

.footer .container {
    padding-block: 0.5rem;
}

.footer-text {
    color: var(--text-on-dark);
    text-wrap: pretty;
    text-align: center;
}
