<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seattle Blues Dance Collective</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VPSBVTZWXD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VPSBVTZWXD');
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="newsletter-banner" aria-label="External">
        <a href=" https://www.zeffy.com/en-US/donation-form/donate-to-the-seattle-blues-dance-collective" target="_blank" rel="noopener">
            Donate to SBDC
        </a>
        ·
        <a href="https://www.zeffy.com/en-US/newsletter-form/sign-up-for-the-seattle-blues-monthly-newsletter" target="_blank" rel="noopener">
            Newsletter
        </a>
    </nav>
    <!-- Menu -->
    <button class="menu-toggle" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="menu-overlay"></div>
    <nav class="menu" aria-label="Main">
        <div class="menu-header">
            <img src="{{ url_for('static', filename='images/SBDC-letters-logo.png') }}" alt="Seattle Blues Dance Collective Logo" class="menu-logo">
        </div>
        <div class="menu-items">
            <a href="/" class="menu-item">Events</a>
            <a href="/recurring-events" class="menu-item">Recurring Events</a>
            <a href="/about" class="menu-item">About</a>
            <a href="/instructors" class="menu-item">Instructor Bios</a>
            <a href="/history" class="menu-item">Blues Resources</a>
            <a href="/music" class="menu-item">Blues Music</a>
            <a href="https://www.instagram.com/seattle.blues.dance.collective/" target="_blank" rel="noopener" class="menu-item menu-social">
                <img src="{{ url_for('static', filename='images/instagram-logo.png') }}" alt="Instagram logo">
                Instagram
            </a>
            <a href="https://discord.gg/4Y6m36ttWM" target="_blank" rel="noopener" class="menu-item menu-social">
                <img src="{{ url_for('static', filename='images/discord-logo.png') }}" alt="Discord logo">
                Discord
            </a>
            <a href="https://calendar.google.com/calendar/u/0?cid=c2VhdHRsZWJsdWVzZGFuY2Vjb2xsZWN0aXZlQGdtYWlsLmNvbQ" target="_blank" rel="noopener" class="menu-item menu-social">
                <img src="{{ url_for('static', filename='images/gcal-logo.png') }}" alt="Google Calendar logo">
                Google Cal
            </a>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- Header -->
    <header>
        <div class="header-image">
            <a href="/" class="banner-logo">
                <img src="{{ url_for('static', filename='images/SBDC-full-logo.png') }}" alt="Seattle Blues Dance Collective Logo" style="height: 100%;">
            </a>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% if self.footer() %}
    <footer class="footer">
        <div class="container">
            {% block footer %}{% endblock %}
        </div>
    </footer>
    {% endif %}
</body>
</html>
